span.user
	if locals.user
		span= locals.user.username
		a.logout(href="/logout") &times;
	else
		form(action="/login", method="post")#login_form.form-inline
			input.span1(type="text", name="name", placeholder="Username")
			input.span1(type="password", name="pass", placeholder="Password")
			button#log_in.btn.btn-mini(type="submit") Login

	if locals.user 
		a.navi(href="/read") sections
		if locals.user._type == 'writer'
			a.navi(href="/admin") admin
			#permission.true

if locals.user
	if locals.user._type == 'writer'
		block script
			script(src="http://api.filepicker.io/v1/filepicker.js")
			script(src="/js/pr-admin.js")