doctype 5
html
	head
		meta(charset="utf-8")
		meta(name='viewport', 
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5")

		title PictureRead

		link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap-editable.css", media="screen")
		link(rel="stylesheet", type="text/css", href="/css/styles.css", media="screen")

	body
		.container
			.row
				header
					.span1
						a(href="/")
							img.logo(src="/img/logo.png")

				include partials/user

			.row.content

				block content

		block script

		script(src="/js/jquery-1.9.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/handlebars.js")
		script(src="/js/pr.js")