extends layout

block content
	.span12
		center
			hr
			span.caps sections
			button.btn.btn-mini
				i.icon-plus
			hr
		#sections
			.slide
				img(src="http://placehold.it/200x200&text=Section1", height="150px", width="150px")
			.slide
				img(src="http://placehold.it/200x200&text=Section2", height="150px", width="150px")
			.slide
				img(src="http://placehold.it/200x200&text=Section3", height="150px", width="150px")
			.slide
				img(src="http://placehold.it/200x200&text=Section4", height="150px", width="150px")
			.slide
				img(src="http://placehold.it/200x200&text=Section5", height="150px", width="150px")
			.slide
				img(src="http://placehold.it/200x200&text=Section6", height="150px", width="150px")