extends layout

block content
	#stories.
		<script id="story-template" type="text/x-handlebars-template">
			{{#stories}}
			<div class="story span12">
				<hr>
				<hr>
				<div class="title">
					<a class="destroy_story icon-remove-sign" href="" id="{{ _id }}"></a>
					<center>
						<a href="/stories/{{ _id }}"> {{ title }} </a>
					</center>
				</div>
				<div class="frames">
					<center>
						{{#each_i frames}}
						<a href="/stories/{{ ../_id }}/{{ index }}">
							<img src="{{ this.thumbnail }}" />
						</a>
						{{/each_i}}
					</center>
				</div>
			</div>
			{{/stories}}
		</script>

