extends layout

block content
	.story.span12
		.title.row
			center.span10.offset1
				a(href="/stories/1/1") GOBLER B STONE AND SCOTT STERN GO TO THE PARK
		.frames.row
			center.span10.offset1.highlight
				a(href="/stories/1/1") A
				a(href="/stories/1/2") B
				a(href="/stories/1/3") C
