body {
	background-color: #f5f5f5;
}

.container {
	background-color: #ffffff;
	border-left: 3px dotted #f5f5f5;
	border-right: 3px dotted #f8f8f8;
}

.story {
	margin-top: 1em;
}
.title a { 
	color: #999; 
	font-size: 0.8em;
}

span.nav {
	margin: 0 2em;
}

header {
	margin-top: 3em;
}

img.logo {
	width: 2.5em;
}

#login_form {
	display: inline;
}
#login_form input {
	font-size: 0.7em;
	padding: 0 0.2em;
}

#new_story {
	/*margin-top: -1.5em;*/
	/*float: right;*/
}

.logout { 
	margin-left: 0.5em;
	font-size: 1.2em;
	font-weight: 600;
}

.frames a {
	display: block;
	margin: 0.2em auto 0.2em -0.2em;
	height: 10em;
	width: 100%;
		background-color: #eee;
		border: 1px solid black;
}

@media (min-width: 768px) { 
	.frames a {
		display: inline-block;
		height: 12em;
		width: 12em;
		margin: 0.2em 0.8em;
	}

	#new_story {
		margin-top: -1.5em;
	/*float: right;*/
	}
}

@media (min-width: 980px) { 
	.frames a {
		display: inline-block;
		height: 12em;
		width: 12em;
		margin: 0.2em 1em;
	}
}

.user { margin-left: 2em; padding: 0 1em; }

.highlight { background-color: yellow; }

.header-items {
	margin-top: 3em;
	/*float: right;*/
	text-align: right;
}
.header-items small {
	font-size: 0.8em;
	padding-right: 0.5em;
	color: #999;
}
.header-items div {
	line-height: 0.9em;
}

.banner-image, .more-info, .copyright {
	text-align: center;
}

.banner-image {
	margin-top: 6em;
}
.banner-image img {
	margin-left: auto;
	margin-right: auto;
}

.more-info {
	margin-top: 5em;
}
.more-info input {
	margin-top: 0.5em;
	margin-right: 1em;
}
.more-info input.hide {
	position: absolute; left: -9999px; width: 1px; height: 1px;
}
.more-info a img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.copyright {
	margin-top: 5em;
}

.fade {
   opacity: 0;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.fade .in {
	opacity: 1;
}

@media (max-width: 720px) {
	.banner-image { margin-top: 3em; }
}