.container {
	/*background-color: #eeffff;*/
}

.story {
	margin-top: 1em;
}

header {
	margin-top: 3em;
}

img.logo {
	width: 2.5em;
}


.frames a {
	display: inline-block;
		background-color: #eee;
		border: 1px solid black;
	
	margin: 0.3em 1.6em;
	height: 15em;
	width: 15em;
}
@media (max-width: 980px) {
	.frames a {
		margin: 0.3em 1.2em;
		height: 10em;
		width: 10em;
	}
}
@media (max-width: 570px) {
	.frames a {
		height: 8em;
		width: 8em;
	}
}
@media (max-width: 480px) {
	.frames a {
		display: block;
		margin-left: -0.2em;
		height: 8em;
		width: 100%;
	}
}

.user { margin-left: 2em; padding: 0 1em; }

.highlight { background-color: yellow; }

.header-items {
	margin-top: 3em;
	/*float: right;*/
	text-align: right;
}
.header-items small {
	font-size: 0.8em;
	padding-right: 0.5em;
	color: #999;
}
.header-items div {
	line-height: 0.9em;
}

.banner-image, .more-info, .copyright {
	text-align: center;
}

.banner-image {
	margin-top: 6em;
}
.banner-image img {
	margin-left: auto;
	margin-right: auto;
}

.more-info {
	margin-top: 5em;
}
.more-info input {
	margin-top: 0.5em;
	margin-right: 1em;
}
.more-info input.hide {
	position: absolute; left: -9999px; width: 1px; height: 1px;
}
.more-info a img:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.copyright {
	margin-top: 5em;
}

.fade {
   opacity: 0;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.fade .in {
	opacity: 1;
}

@media (max-width: 720px) {
	.banner-image { margin-top: 3em; }
}